/* COLOR VARIABLES */
:root {
  --background-color: #042d22;
  --foreground-color: #e5f3ed;
  --primary-accent-color: #bd892f;
  --secondary-accent-color: #eac931;
}

/* GLOBAL STYLES */
body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  background-color: var(--background-color);
  color: var(--foreground-color);
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  font-family: "Jost", sans-serif;
}
body * {
  cursor: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-accent-color);
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: var(--foreground-color);
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 1px solid var(--foreground-color);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}

.grow {
  transform: scale(2);
  background: transparent;
  mix-blend-mode: overlay;
}

.hideScroll {
  overflow-y: hidden !important;
}

main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

h1 {
  font-size: 58px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 40px;
  line-height: 60px;
  color: var(--primary-accent-color);
}

h2 {
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 16px;
  line-height: 52px;
  color: var(--primary-accent-color);
}

h5 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 24px;
  color: rgba(229, 243, 237, 0.3019607843);
}

p,
a,
ul {
  font-size: 16px;
  font-weight: 300;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-btn {
  background: transparent;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, rgba(157, 123, 32, 0) -5.95%, #d0a32a 44.44%, rgba(106, 83, 21, 0) 108.41%);
}

.menu-trigger-button {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.4em 1em;
  border-radius: 40px;
  border: 1.6px solid #d0a32a;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-trigger-button:hover {
  background: var(--secondary-accent-color);
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 99;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background: var(--background-color);
}
.overlay-menu .overlay-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.overlay-menu .overlay-wrapper .overlay-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  z-index: 0;
}
.overlay-menu .overlay-wrapper .container {
  z-index: 3;
}
.overlay-menu .overlay-wrapper .container .overlay-header {
  opacity: 0;
}
.overlay-menu .overlay-wrapper .container .overlay-header .overlay-logo {
  padding-top: 0.5em;
}
.overlay-menu .overlay-wrapper .container .overlay-header .overlay-logo img {
  height: 110px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.overlay-menu .overlay-wrapper .container .overlay-menu-nav {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  padding-left: 15%;
}
.overlay-menu .overlay-wrapper .container .overlay-menu-nav .menu-item {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--foreground-color);
  margin-bottom: 0.1em;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.overlay-menu .overlay-wrapper .container .overlay-menu-nav .menu-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #e5f3ed 0%, #e5f3ed 62.98%, rgba(229, 243, 237, 0) 100%);
}
.overlay-menu .overlay-wrapper .container .overlay-menu-nav .menu-item:hover, .overlay-menu .overlay-wrapper .container .overlay-menu-nav .menu-item.active {
  color: var(--primary-accent-color);
}
.overlay-menu .overlay-wrapper .container .overlay-menu-nav .menu-item:hover::after, .overlay-menu .overlay-wrapper .container .overlay-menu-nav .menu-item.active::after {
  background: linear-gradient(90deg, #f4ca44 0%, rgba(178, 123, 43, 0) 62.98%, rgba(189, 137, 47, 0) 100%);
}
.overlay-menu .overlay-wrapper .container .overlay-menu-nav .menu-item:last-of-type {
  margin: 0;
}
.overlay-menu .overlay-wrapper .container .overlay-menu-nav .menu-item:last-of-type::after {
  display: none;
}
.overlay-menu .overlay-wrapper .container .faq {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(229, 243, 237, 0.8);
  margin-top: 1em;
  margin-left: 15%;
}

.stagger-bars {
  z-index: 4;
  height: auto;
}
.stagger-bars .bar {
  background: var(--primary-accent-color);
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.site-btn {
  width: 80px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: relative;
}
.site-btn p {
  text-wrap: nowrap;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
.site-btn img {
  width: 90%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 5px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
}
header .container {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  padding-top: 0.5em;
}
header .container .logo img {
  height: 110px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

#home-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}
#home-banner .banner-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 90%;
  z-index: 0;
}
#home-banner .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2.5em;
}
#home-banner .container h1 {
  text-align: center;
  color: var(--secondary-accent-color);
  margin-bottom: 0.7em;
}
#home-banner .container h1:last-of-type {
  margin: 0.3em;
}
#home-banner .container .banner-content {
  z-index: 2;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding-right: 16vw;
  margin-top: 1em;
}
#home-banner .container .banner-content p,
#home-banner .container .banner-content a {
  z-index: 2;
}
#home-banner .container .banner-content p {
  width: 35%;
  margin-right: 2em;
  color: #e5f3ed;
}
#home-banner .container .banner-content .site-btn {
  width: 120px !important;
}
#home-banner .container .banner-content .site-btn p {
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 0;
}

.brand-items {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.brand-items .brand-vector {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 78%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: top center;
     object-position: top center;
  z-index: 0;
}

#brand-intro {
  z-index: 5;
}
#brand-intro .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#brand-intro .container h1 {
  text-align: center;
}

#brand-story {
  z-index: 5;
}
#brand-story .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#brand-story .container .title-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#brand-story .container .title-section .line {
  margin-top: 1.5em;
  width: 90%;
  height: 2px;
  -o-object-fit: contain;
     object-fit: contain;
}
#brand-story .container .content {
  width: 55%;
  margin-top: 2em;
}
#brand-story .container .content p {
  line-height: 35px;
  margin-bottom: 1em;
  color: #e5f3ed;
}
#brand-story .container .content p:last-of-type {
  margin: 0;
}

#mission {
  z-index: 5;
}
#mission .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mission .container .title {
  width: 35% !important;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
#mission .container .title .line {
  margin-top: 1.5em;
  width: 90%;
  height: 2px;
  -o-object-fit: contain;
     object-fit: contain;
}
#mission .container .content {
  width: 45%;
  margin-left: 2em;
  line-height: 32px;
}

#team {
  z-index: 5;
  padding-bottom: 15vh;
}
#team .wrapper {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}
#team .wrapper .title {
  width: 400px;
  align-self: center;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#team .wrapper .title .line {
  margin-top: 1.5em;
  width: 90%;
  height: 2px;
  -o-object-fit: contain;
     object-fit: contain;
}
#team .wrapper .team-members-grid {
  align-self: flex-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 70vw;
}
#team .wrapper .team-members-grid .member {
  width: 100%;
  height: 380px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#team .wrapper .team-members-grid .member .details h6 {
  font-size: 16px;
  color: #e5f3ed;
  text-transform: uppercase;
  font-weight: 500;
}
#team .wrapper .team-members-grid .member .details p {
  color: #d0a32a;
  text-transform: capitalize;
}
#team .wrapper .team-members-grid .member .site-btn {
  width: 80px !important;
}
#team .wrapper .team-members-grid .member:nth-of-type(1), #team .wrapper .team-members-grid .member:nth-of-type(4) {
  background-color: #002118;
}
#team .wrapper .team-members-grid .member:nth-of-type(2), #team .wrapper .team-members-grid .member:nth-of-type(5) {
  background-color: #021d15;
}
#team .wrapper .team-members-grid .member:nth-of-type(3) {
  background-color: #021812;
}

#services {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: 100%;
  height: 120vh;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#services .services-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: 0;
}
#services .title-section {
  display: flex;
  flex-direction: column;
  z-index: 5;
  width: 30vw;
  position: relative;
  margin-bottom: 2em;
}
#services .title-section .line {
  margin-top: 1em;
  width: 90%;
  height: 2px;
  -o-object-fit: contain;
     object-fit: contain;
}
#services .service {
  color: #e5f3ed;
  margin-bottom: 0.6em;
}
#services .service:last-of-type {
  margin: 0;
}
#services .site-btn {
  width: 150px;
  margin-top: 4em;
}/*# sourceMappingURL=style.css.map */